<div class="row">
	<div class="header-bg">
		<app-shopping-cart></app-shopping-cart>
		<app-language-selector></app-language-selector>
	</div>
</div>
<div class="row header-menu">
	<div class="col-md-2"><span class="badge" [ngClass]="{ 'badge-blue': router.url === search || router.url === roomList }">1</span> Dates & Rooms</div>
	<div class="col-md-2"><span class="badge" [ngClass]="{ 'badge-blue': router.url === detail }">2</span> Your Details</div>
	<div class="col-md-2"><span class="badge" [ngClass]="{ 'badge-blue': router.url === booking }">3</span> Review & Confirm</div>
	<div class="col-md-2"><span class="badge" [ngClass]="{ 'badge-blue': router.url === done }">4</span> Done</div>
</div>
