.header-bg {
	position: relative;
	background-image: url("./bg-hotel.jpg");
	max-width: 100%;
	height: 400px;
	display:block;
}

.badge-blue {
	background-color: #008B8B;
}

.header-menu {
	padding: 15px;
	border: 1px solid #DCDCDC;
}
