<div class="jumbotron done">
    <h2><span class="glyphicon glyphicon-ok green" aria-hidden="true"></span> Booking Successfully Completed</h2>
    <p>Thank you, an email with all necessary information has been sent to you.</p>
    <p><button class="btn btn-primary btn-lg" (click)="close()">Close app</button></p>
</div>
