<span dropdown class="shopping-cart-container" [autoClose]="'outsideClick'" >
    <div id="simple-dropdown" class="shopping-cart-button mouse-pointer" dropdownToggle>
        <div>
            <span id="itemsLength"> {{ shoppingCartItems.length }} </span> | <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Basket
        </div>
    </div>
    <div class="dropdown-menu shopping-cart-dropdown" *dropdownMenu role="menu" aria-labelledby="simple-dropdown" (click)="$event.stopPropagation()">
        <div class="shopping-cart-title">
            Your basket
        </div>
        <div class="shopping-cart-list">
            <div *ngFor="let room of shoppingCartItems" class="shopping-cart-row">	
                <div class="row shopping-cart-dates">
                    <span class="bold">From</span> {{ room.arrivalDate | date: "dd/MM/yy" }}
                    <span class="bold"> To</span> {{ room.departureDate | date: "dd/MM/yy" }}
                </div>
                <div class="row">
                    <div class="col-md-3">{{ room.type }}</div>
                    <div class="col-md-3"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ room.persons }}</div>
                    <div class="col-md-4">{{ room.price | number: '1.2-2' }} €</div>
                    <div class="col-md-2"> <span class="glyphicon glyphicon glyphicon-trash mouse-pointer" 
                        aria-hidden="true" (click)="deleteRoom(room)"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row shopping-cart-empty" *ngIf="shoppingCartItems.length < 1">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> The basket is empty, please add some rooms!
        </div>

        <div class="row shopping-cart-total">
            <div class="col-md-12">
                <span class="bold">Total: </span>
                {{ totalSellPrice | number: '1.2-2' }} €
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"><button class="btn btn-danger btn-block" (click)="discardCart()">Discard</button></div>
            <div class="col-md-6"><button class="btn btn-success btn-block" (click)="onBook()">Book!</button></div>
        </div>
      </div>
</span>
