.shopping-cart-container {
	position: absolute;
	right: 150px;
	background-color: #008B8B;
	font-size: 16px;
	padding: 5px;
	text-decoration: none;
}

.shopping-cart-button {
	color: #FFFFFF;
}

.shopping-cart-dropdown {
	width: 300px;
	padding: 10px;
	font-size: 15px;
}

.shopping-cart-title {
	color: #FFFFFF;
	background-color: #008B8B;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 10px;
}

.shopping-cart-list {
	height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 15px;
}

.shopping-cart-row {
	border: 1px solid #DCDCDC;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 10px;
}

.shopping-cart-total {
	padding: 15px;
}

.shopping-cart-dates {
	font-size: 12px;
	padding: 5px;
	color: #777;
}

.shopping-cart-empty {
	padding: 15px;
	text-align: center;

}
