<nav class="row navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-previous-button">
                <a class="mouse-pointer" routerLink="/search"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Change dates</a>
            </li>
        </ul>
        <p class="navbar-text text-align-center">
            <span class="bold">From</span> {{ search.startDate | date: "dd MMM yyyy" }}
            <span class="bold"> To</span> {{ search.endDate | date: "dd MMM yyyy" }}
        </p>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-next-button">
                <a class="mouse-pointer" (click)="onBook()">Book rooms <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </li>
        </ul>
    </div>
</nav>
<article>
    <div class="row datepicker-info-box">
        <p class="bg-info">
        The following rooms are available for the selected dates <br>
        Click on the <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> button to view detailed information about the room</p>
    </div>
    <article>
        <app-room *ngFor="let room of rooms"
            [room]="room"
            [search]="search"
            (onRoomSelect)="deleteRoomFromList($event)">
        </app-room>
    </article>
    <article *ngIf="rooms.length < 1">
        <div class="no-rooms-info">
            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> No more rooms available, please <a class="mouse-pointer" routerLink="/search">search</a> for some other dates!
        </div>
    </article>
</article>
