.room-available-num {
    text-align: center;
    color: 	#008000;
    background-color: #DCDCDC;
    border: 1px solid #DCDCDC;
}

.room-row {
    border: 1px solid #DCDCDC;
}

.room-col {
    height: 70px;
}

.room-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-info {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background-color: #008B8B;
}
