<article>
	<div class="row room-row">
		<div class="col-md-1 room-col room-available-num room-col-center">
			<span class="bold">1</span><span>Available</span>
		</div>
		<div class="col-md-3 room-col">
			<h4><span class="bold">{{ room.type }}</span></h4>
			For {{ room.persons }} person(s), max. {{ room.maxPersons }}
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-1 room-col room-col-center">
			<small> EUR </small><span class="bold">{{ room.price | number: '1.2-2' }}</span>
		</div>
		<div class="col-md-2 room-col room-col-center">
			<button type="button" class="btn btn-success" (click)="addRoomToCart(room)">Add to basket</button>
		</div>
		<div class="col-md-1 room-col room-info room-col-center">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		</div>
	</div>
</article>
<br>