
<nav class="row navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-previous-button">
                <a class="mouse-pointer" (click)="onBack()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Search for more</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-next-button">
                <a class="mouse-pointer" (click)="detailForm.ngSubmit.emit()">Continue <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </li>
        </ul>
    </div>
</nav>
<article>
    <div class="row datepicker-info-box">
        <p class="bg-info">
          Please, fill in the following information
        </p>
    </div>
    <article>
        <form (ngSubmit)="onContinue(detailForm)" #detailForm="ngForm" id="ngForm">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Your details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" required
                                placeholder="Name"
                                [(ngModel)]="booking.user.name"
                                (ngModelChange)="onNameChange()"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" id="surname" name="surname" required
                                placeholder="Surname"
                                [(ngModel)]="booking.user.surname"
                                (ngModelChange)="onSurnameChange()"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" name="address" required
                                placeholder="Street and number"
                                [(ngModel)]="booking.user.address">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="postalCode">Postal code</label>
                                <input type="text" class="form-control" id="postalCode" name="postalCode" required
                                placeholder="Postal code"
                                [(ngModel)]="booking.user.postalCode"
                                pattern="[0-9 ]*"
                                maxlength="6">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location" name="location" required
                                placeholder="Location"
                                [(ngModel)]="booking.user.location"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                            <div class="col-md-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <input type="text" class="form-control" id="country" name="country" required
                                placeholder="Country"
                                [(ngModel)]="booking.user.country"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birthdate">Birthdate</label>
                                <my-date-picker
                                     name="birthdate"
                                    [options]="myDatePickerOptions"
                                    [(ngModel)]="booking.user.birthDate"
                                    required>
                                </my-date-picker>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" required
                                placeholder="Email address"
                                [(ngModel)]="booking.user.email"
                                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else</small>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Phone number</label>
                                <input type="text" class="form-control" id="phone" name="phone" required
                                placeholder="Phone number"
                                [(ngModel)]="booking.user.phone"
                                minlength="7"
                                maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Traveler details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="travelerName" required
                                placeholder="Name"
                                [(ngModel)]="booking.travelerName"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" id="surname" name="travelerSurname" required
                                placeholder="Surname"
                                [(ngModel)]="booking.travelerSurname"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <p> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Hotel reception opens Mo-Fri 8:00 am to 22:00 pm</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Payment (*only Visa)
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group inner-addon left-addon">
                                <i class="glyphicon glyphicon-credit-card"></i>
                                <input type="text" class="form-control" id="cardNumber" name="cardNumber" required
                                [(ngModel)]="booking.payment.cardNumber"
                                (keyup)="onCardPress()"
                                placeholder="Card number"
                                maxlength="19"
                                minlength="19"
                                pattern="[0-9 ]*">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group inner-addon left-addon">
                                <i class="glyphicon glyphicon-user"></i>
                                <input type="text" class="form-control" id="cardName" name="cardName" required
                                [(ngModel)]="booking.payment.cardName"
                                placeholder="Name on card"
                                pattern="[a-zA-Z ]*">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <div class="form-group inner-addon left-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <input type="text" class="form-control" id="cardExp" name="cardExp" required
                                [(ngModel)]="booking.payment.cardExp"
                                placeholder="MM/YY"
                                pattern="[0-1][0-9]/[0-9]*"
                                minlength="5"
                                maxlength="5">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group inner-addon left-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                                <input type="text" class="form-control" id="cardCvv" name="cardCvv" required
                                [(ngModel)]="booking.payment.cvv"
                                placeholder="CVV"
                                pattern="[0-9]*"
                                minlength="3"
                                maxlength="3">
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Requests
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message">Message</label><span> (optional)</span>
                                <textarea class="form-control" id="message" rows="3" name="message" placeholder="Please, feel free to ask us anything!"
                                    [(ngModel)]="booking.message">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right form-bottom">Continue</button>
        </form>
    </article>
</article>
