.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

.form-bottom {
    margin-bottom: 20px;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.left-addon .glyphicon { 
    left: 0px;
}

.right-addon .glyphicon { 
    right: 0px;
}

.left-addon input { 
    padding-left: 30px;
}

.right-addon input { 
    padding-right: 30px;
}
