/* You can add global styles to this file, and also import other style files */
.mouse-pointer {
    cursor: pointer;
    cursor: hand;
}

.bold {
    font-weight: bold;
}

.datepicker-info-box p {
    padding: 15px;
    color: #008B8B;
}

.text-align-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

.nav-next-button {
    border-left: 1px solid #DCDCDC;
}

.nav-previous-button {
	z-index: 3;
	border-right: 1px solid #DCDCDC;
}
