<nav class="row navbar navbar-default">
    <div class="container-fluid">
        <p class="navbar-text text-align-center">
            <span class="bold">From</span> {{ search.startDate | date: "dd MMM yyyy" }}
            <span class="bold"> To</span> {{ search.endDate | date: "dd MMM yyyy" }}
        </p>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-next-button">
                <a class="mouse-pointer" (click)="onSearch()">Find rooms <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </li>
        </ul>
    </div>
</nav>
<article>
    <div class="row datepicker-info-box">
        <p class="bg-info">Please pick your arrival and departure date from the calendars below</p>
    </div>

    <div class="row search-filters">
        <div class="col-md-1">
          <h5 class="bold pull-right">Filter</h5>
        </div>
        <div class="col-md-5">
            <div class="btn-group btn-full-col" dropdown>
                <button type="button" class="btn btn-full-col" dropdownToggle>
                    <span *ngIf="!search.roomType">All room types</span>
                    <span *ngIf="search.roomType">{{ search.roomType.type }}</span>
                    <div class="right">
                        <span class="caret"></span>
                    </div>
                </button>
                <ul class="dropdown-menu menu-full-col" *dropdownMenu role="menu" aria-labelledby="type-button">
					<li role="menuitem"><a (click)="setRoomType('')">All room types</a></li>
					<li role="menuitem" *ngFor="let roomType of roomTypes"><a (click)="setRoomType(roomType)">{{ roomType.type }}</a></li>
				</ul>
            </div>
        </div>
        <div class="col-md-5">
            <div class="btn-group btn-full-col" dropdown>
                <button type="button" class="btn btn-full-col" dropdownToggle>
                    <span *ngIf="!search.roomType">All room sizes</span>
                    <span *ngIf="search.roomType">{{ search.roomType.paxes }} person(s)</span>
                    <div class="right">
                        <span class="caret"></span>
                    </div>
                </button>
                <ul class="dropdown-menu menu-full-col" *dropdownMenu role="menu1" aria-labelledby="type-button">
					<li role="menuitem"><a (click)="setRoomType('')">All room types</a></li>
					<li role="menuitem" *ngFor="let roomType of roomTypes"><a (click)="setRoomType(roomType)">{{ roomType.paxes }} person(s)</a></li>
				</ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="datepicker-display-type">
                <h4 class="bold">Arrival</h4>
                <my-date-picker
                    [options]="arrivalDatePickerOptions"
                    [selDate]="startDate"
                    (dateChanged)="onArrivalChange($event)">
                </my-date-picker>
            </div>
        </div>
        <div class="col-md-4">
            <div class="datepicker-display-type">
                <h4 class="bold">Departure</h4>
                <my-date-picker
                    [options]="departureDatePickerOptions"
                    [selDate]="endDate"
                    (dateChanged)="onDepartureChange($event)">
                </my-date-picker>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4 text-center"> 
                <button class="btn btn-success btn-lg btn-block search-bottom"
                (click)="onSearch()">Find Rooms</button>
            </div>
        <div class="col-md-4"></div>
    </div>
</article>
