.datepicker-display-type {
    display:inline-block;
    background-color: #DCDCDC;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.inline-datepicker {
    font-size: 10px;
}

.btn-full-col {
    background-color: #F5F5F5;
    border: 1px solid #DCDCDC;
    width: 100%;
}

.search-filters {
    background-color: #F5F5F5;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}

.search-bottom {
    margin-bottom: 20px;
}

.menu-full-col {
    width: 300px;
}

.right {
    text-align: center;
    float: right;
}
