.room-content {
    padding: 10px;
}

.room-row {
    border: 1px solid #DCDCDC;
    margin-bottom: 20px;
}

.room-col {
    height: 70px;
}

.room-col-center {
    display: flex;
      flex-direction: column;
      justify-content: center;
}

.room-info {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    background-color: #008B8B;
}

.no-rooms-info {
    padding: 15px;
    text-align: center;
}

.room-dates {
	font-size: 12px;
	padding: 5px;
	color: #777;
}

.accordion-separation {
    margin-bottom: 20px;
}

.total {
    font-size: 18px;
}

.booking-margin-bottom {
    margin-bottom: 20px;
}
