<nav class="row navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="nav-previous-button">
                <a class="mouse-pointer" routerLink="/detail"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Your details</a>
            </li>
        </ul>
        <p class="navbar-text text-align-center">
            <span class="bold">Total: </span>
            {{ totalSellPrice | number: '1.2-2' }} €
        </p>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-next-button">
                <a class="mouse-pointer" (click)="saveBooking()">Confirm and Book! <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
            </li>
        </ul>
    </div>
</nav>
<article>
    <div class="row datepicker-info-box">
        <p class="bg-info">
            Please, review your information and your rooms!
        </p>
    </div>
    <article>
        <div class="accordion-separation">
            <accordion>
                <accordion-group [isOpen]="true" #details>
                    <div accordion-heading>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Your details 
                        <i class="pull-right float-xs-right glyphicon"
                            [ngClass]="{'glyphicon-chevron-down': details?.isOpen, 'glyphicon-chevron-right': !details?.isOpen}">
                        </i>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <p>{{ booking.user.name }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <p>{{ booking.user.surname }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <p>{{ booking.user.address }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="postalCode">Postal code</label>
                                <p>{{ booking.user.postalCode }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="location">Location</label>
                                <p>{{ booking.user.location }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="country">Country</label>
                                <p>{{ booking.user.country }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="birthdate">Birthdate</label>
                                <p>{{ booking.user.birthDate.formatted }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <p>{{ booking.user.email }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Phone number</label>
                                <p>{{ booking.user.phone }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="accordion-separation">
            <accordion>
                <accordion-group [isOpen]="true" #traveler>
                    <div accordion-heading>
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Traveler details
                        <i class="pull-right float-xs-right glyphicon"
                            [ngClass]="{'glyphicon-chevron-down': traveler?.isOpen, 'glyphicon-chevron-right': !traveler?.isOpen}">
                        </i>
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <p>{{ booking.travelerName }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <p>{{ booking.travelerSurname }}</p>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-4">
                            <p> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Hotel reception opens
                                Mo-Fri 8:00 am to 22:00 pm</p>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="accordion-separation">
            <accordion>
                <accordion-group [isOpen]="true" #payment>
                    <div accordion-heading>
                        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Payment
                        <i class="pull-right float-xs-right glyphicon"
                            [ngClass]="{'glyphicon-chevron-down': payment?.isOpen, 'glyphicon-chevron-right': !payment?.isOpen}">
                        </i>
                    </div>
                
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div id="cardLabel" class="col-md-4">
                            <p>Credit card that ends with **** **** **** {{ cardLastNumbers }}</p>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="accordion-separation">
            <accordion>
                <accordion-group [isOpen]="true" #message *ngIf="booking.message">
                    <div accordion-heading>
                        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Requests
                        <i class="pull-right float-xs-right glyphicon"
                            [ngClass]="{'glyphicon-chevron-down': message?.isOpen, 'glyphicon-chevron-right': !message?.isOpen}">
                        </i>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="3" name="message"
                                    [(ngModel)]="booking.message" [disabled]="true">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="accordion-separation">
            <accordion>
                <accordion-group [isOpen]="true" #rooms>
                    <div accordion-heading>
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Rooms for {{ booking.hotelName }}
                        <i class="pull-right float-xs-right glyphicon"
                            [ngClass]="{'glyphicon-chevron-down': rooms?.isOpen, 'glyphicon-chevron-right': !rooms?.isOpen}">
                        </i>
                    </div>
                    <div class="room-content">
                        <div *ngFor="let room of booking.rooms">
                            <div class="row room-dates">
                                <span class="bold">From</span> {{ room.arrivalDate | date: "dd/MM/yy" }}
                                <span class="bold"> To</span> {{ room.departureDate | date: "dd/MM/yy" }}
                            </div>
                            <div class="row room-row">
                                <div class="col-md-3 room-col">
                                    <h4><span class="bold">{{ room.type }}</span></h4>
                                    For {{ room.persons }} person(s), max. {{ room.maxPersons }}
                                </div>
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-2 room-col room-col-center">
                                    <small> EUR </small><span class="bold">{{ room.price | number: '1.2-2' }}</span>
                                </div>
                                <div class="col-md-2 room-col room-col-center">
                                    <button type="button" class="btn btn-danger" (click)="deleteRoom(room)">Remove room</button>
                                </div>
                                <div class="col-md-1 room-col room-info room-col-center">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="booking.rooms.length < 1">
                            <div class="no-rooms-info">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> You have no more rooms, please <a class="mouse-pointer" routerLink="/search">search</a> and add them to your basket!
                            </div>
                        </div>
                        <div class="row total pull-right">
                            <div class="col-md-12">
                                <span class="bold">Total: </span>
                                {{ totalSellPrice | number: '1.2-2' }} €
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <button class="btn btn-success pull-right booking-margin-bottom" (click)="saveBooking()">Confirm and Book!</button>
    </article>
</article>
